<template>
  <div id="cart">

    <div id="header">
      <h1>CARRITO</h1>
      <div id="links">
        <router-link to="/">INICIO</router-link> / <span>CARRITO</span>
      </div>
    </div>

    <div id="cart-empty" v-if="cartProducts === undefined || cartProducts.length == 0">
      <h1>There's nothing here . . .</h1>
    </div>

    <div id="cart-breakdown" v-else>

      <div id="items-table">

        <h4>CARRITO</h4>
        <table>
          <thead>
            <tr>
              <th>PRODUCTO</th> <th></th> <th>PRECIO</th> <th>CANTIDAD</th> <th></th>
            </tr>
          </thead>

          <tbody>
            <tr v-for="product in cartProducts" :key="product.id">
              <td class="image-container"><img class="product-image" :src="storageAp + product.pictures.small[0]" :alt="product.title" :title="product.title"></td>
              <td>{{ product.title }}</td>
              <td>${{ product.retail_price }}</td>
              <td><QuantityCounter :quantity="product.quantity" :productId="product.id" @quantityChanged="updateItemInCartQuantity"/></td>
              <td><i class="material-icons delete-button" @click="removeItemFromCart(product.id)">delete</i></td>
            </tr>
          </tbody>
        </table>

      </div>

      <div id="cart-total">

        <h4>TOTAL DEL CARRITO</h4>

        <div id="subtotal">
          <span>SUBTOTAL</span>
          <span>${{ getSubtotal() }}</span>
        </div>

        <div id="total">
          <span>TOTAL</span>
          <strong>${{ getSubtotal() }}</strong>
        </div>

        <button id="proceed-to-checkout-button" @click="goToCheckout()">Continuar al checkout</button>

      </div>
    </div>

    <router-link id="go-back" to="/shop"><i class="material-icons back-arrow">arrow_back</i>Continuar comprando</router-link>

  </div>
</template>

<script>

import { mapGetters, mapMutations } from 'vuex'

import QuantityCounter from './../cart/QuantityCounter'

export default {
  name: 'Cart',
  components: {
    QuantityCounter
  },

  data () {
    return {
      cartProducts: this.getCartProducts()
    }
  },

  computed: {
    storageAp () { return process.env.VUE_APP_STORAGE_AP }
  },

  methods: {
    ...mapMutations({
      removeItemFromCart: 'cart/REMOVE_ITEM',
      updateItemInCart: 'cart/UPDATE_ITEM'
    }),

    ...mapGetters({
      getCartProducts: 'cart/GET_ITEMS'
    }),

    updateItemInCartQuantity (newQuantity, productId) {
      const productToUpdate = this.getCartProducts().find(p => p.id === productId)
      productToUpdate.quantity = newQuantity
      this.updateItemInCart(productToUpdate)
    },

    getSubtotal () {
      let subtotal = 0
      this.getCartProducts().forEach(product => {
        subtotal += 0 + (product.retail_price * product.quantity)
      })

      return subtotal
    },

    goToCheckout () {
      this.$router.push({ path: '/checkout' })
    }
  },

  mounted () {
    this.cartProducts = this.getCartProducts()
  }
}
</script>

<style lang="scss" scoped>

@import '@/assets/vars.scss';

h4 {
  font-size: 20px;
  margin: 0 0 1em 0;
}

table {
  border-spacing: 0;
  width: 100%;
}
thead {
  background-color: #f5f5f5;
}
th, td {
  text-align: start;
  padding: 1em;
}

#cart-empty {
  display: flex;
  margin: 3em auto 3em auto;
  justify-content: center;

  h1 {
    color: #d0d0d0;
  }
}

#cart{
  max-width: $maxComponentWidth;
  margin: 0 auto 0 auto;
}

#header {
  margin: 2em 0 3em 0;
  padding: 5em;
  background-color: #f5f5f5;
  display: flex;
  justify-content: space-between;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-image {
  height: 6em;
  width: 6em;
  object-fit: contain;
}

#links {
  display: flex;
  align-items: center;
}

#cart-breakdown {
  display: flex;

  @media only screen and (max-width: 700px) {
    flex-wrap: wrap;

    #cart-total {
      margin: 1em 0 1em 0;
    }
  }
}

#subtotal, #total {
  display: flex;
  justify-content: space-between;
  padding: .5em 1em .5em 1em;
  width: 100%;
}
#total {
  border-top: 1px solid #d0d0d0;
  margin: 0 0 1em 0;
}

#items-table {
  flex: 0 1 85em;
}
#cart-total {
  display: flex;
  flex-wrap: wrap;
  flex: 0 2 $maxComponentWidth;
  margin: 2.8em 0 1em 1em;
  padding: 2em;
  background-color: #f5f5f5;
}

#proceed-to-checkout-button {
  font-size: 16px;
  flex: 1 1;
}

#table-header {
  display: flex;
  justify-content: space-between;
}

.delete-button {
  cursor: pointer;

  &:hover {
    color: darkred;
  }
}

#go-back {
  display: flex;
  align-items: center;
  text-align: center;
}

.back-arrow {
  padding: 0 .5em 0 0;
}

</style>
