<template>
  <div id="home">

    <div id="hero">
      <h1 id="hero-text">This is where the header image will go</h1>

      <Carousel id="img-carousel" :perPage="1" :autoplay="true" :autoplayTimeout="10000">

        <Slide class="img-main" v-for="pic in heroImgs" :key="pic">
          <img class="hero-img" :src="require(`@/assets/img/${pic}`)">
        </Slide>

      </Carousel>

    </div>

    <div id="related-products">
      <h4>PRODUCTOS ESPECIALES</h4>
        <h3>DESTACADOS</h3>

        <ul id="related-products-list" v-if="randomProducts">
          <li class="related-product" v-for="item in randomProducts" :key="item.id">
            <div class="product-overlay">

              <div class="overlay-buttons">
                <button class="overlay-button" @click="addToCartAndPushRoute({ product: item, quantity: 1 })">
                  <font-awesome-icon :icon="['fas', 'shopping-cart']"/>
                </button>
                <button class="overlay-button details-button" @click="goToProductDetails(item.id)">Detalles</button>
                <button class="overlay-button" @click="addToFavorites(item)">
                  <font-awesome-icon :icon="['fas', 'heart']"/>
                </button>
              </div>

            </div>

            <img class="related-product-img" :src="storageAp + item.pictures.big[0]"
              :alt="item.title" :title="item.title">

            <h4 class="related-product-name">{{ item.title }}</h4>
            <p class="related-product-price">${{ item.retail_price }}</p>

          </li>
        </ul>
      </div>

    <div id="categories">

      <h4>NUESTRA COLECCION DE PRODUCTOS</h4>
      <h3>NAVEGA POR NUESTRAS CATEGORIAS</h3>
      <div id="categories-wrapper" v-if="!loading">
        <div class="category" v-for="category in categories" :key="category.id" @click="goToCategory(category.id)">
          <img class="category-img" :src="category.picture" :alt="category.description" :title="category.description">
          <div class="category-name">{{ category.name.toUpperCase() }}</div>
        </div>
      </div>
      <div v-else>Loading Categories...</div>

    </div>

    <InfoIcons/>

    <Subscribe/>

  </div>

</template>

<script>

import { mapActions, mapGetters, mapMutations } from 'vuex'
import { Carousel, Slide } from 'vue-carousel'

import InfoIcons from './../misc/InfoIcons.vue'
import Subscribe from './../misc/Subscribe.vue'

export default {
  name: 'Home',

  components: {
    InfoIcons,
    Subscribe,
    Carousel,
    Slide
  },

  data () {
    return {
      loading: true,
      categories: null,
      products: null,
      randomProducts: null,
      heroImgs: [
        'example-hero.png',
        'Presonus_Atom_SQ_3_80p.webp',
        'example-hero.png'
      ]
    }
  },

  computed: {
    storageAp () { return process.env.VUE_APP_STORAGE_AP },
    defaultToken () { return this.getDefaultToken() }
  },

  watch: {
    async defaultToken () {
      this.getPageContent()
    },

    products: function () {
      this.randomProducts = []
      this.randomProducts[0] = this.products[Math.floor(Math.random() * this.products.length)]
      this.randomProducts[1] = this.products[Math.floor(Math.random() * this.products.length)]
      this.randomProducts[2] = this.products[Math.floor(Math.random() * this.products.length)]
    }
  },

  methods: {
    ...mapGetters({
      getToken: 'auth/GET_TOKEN',
      getDefaultToken: 'auth/GET_DEFAULT_TOKEN',
      getCategories: 'products/GET_CATEGORIES',
      getProducts: 'products/GET_PRODUCTS'
    }),

    ...mapActions({
      retrieveCategories: 'products/RETRIEVE_CATEGORIES',
      retrieveProducts: 'products/RETRIEVE_PRODUCTS'
    }),

    ...mapMutations({
      addToFavorites: 'favorites/ADD_ITEM'
    }),

    goToCategory (categoryId) {
      this.$router.push({ name: 'shop', query: { cid: categoryId } })
    },

    getPageContent: async function () {
      try {
        if (this.getToken()) {
          this.categories = this.getCategories() ? this.getCategories() : await this.retrieveCategories()
          this.products = this.getProducts() ? this.getProducts() : await this.retrieveProducts()
        }
      } catch (error) {
        this.error = true
        console.error(error)
      }
      this.loading = false
    },

    goToProductDetails (productId) {
      this.$router.push({ path: 'product-view', query: { pid: productId } })
      location.reload()
    },

    addToCartAndPushRoute (productToAdd) {
      this.addToCart(productToAdd)
      this.$router.push({ path: '/cart' })
    }
  },

  created: async function () {
    if (this.getToken()) {
      this.getPageContent()
    }
  }
}
</script>

<style lang="scss" scoped>

@import '@/assets/vars.scss';

#home {
  max-width: $maxComponentWidth;
  margin: 0 auto 0 auto;
}

#hero {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  height: 85vh;

  #hero-text {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }

  #img-carousel {
    height: 100%;
    width: 100%;
  }

  .img-main {
    height: 100%;
    width: 100%;
  }

  .hero-img {
    height: 100%;
    object-fit: cover;
  }

  @media only screen and (max-width: 700px) {
    height: 60vh;

    .hero-img {
      height: 60vh;
    }
  }
}

#related-products {
  display: flex;
  flex-direction: column;
  padding: 4em 1em 1em 1em;

  h3, h4 {
    text-align: center;
  }

  h4 {
    color: #808080;
    font-weight: 400;
  }
}

#related-products-list {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  margin: 2em 0 0 0;
  padding: 0;
}

.related-product {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: fit-content;
  text-align: center;
  margin: 0 auto 3em auto;
  flex: 0 1 20%;

  @media only screen and (max-width: 700px) {
    flex: 0 1 100%;
    margin: 1em auto 2em auto;
  }
}

.related-product-img {
  width: $relatedProductImgWidth;
  height: $relatedProductImgHeight;
  object-fit: contain;
}

.product-overlay {
  position: absolute;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: $relatedProductImgHeight;
  width: 100%;
  opacity: 0%;
  background-color: #ffffffd0;

  &:hover {
    opacity: 100%
  }
}
.overlay-buttons {
  display: flex;
  justify-content: center;
}

.overlay-button {
  padding: .5em;
  margin: 0 .2em 0 .2em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00000000;
  color: #303030;
  border: 1px solid #303030;

  &:hover {
    background-color: #303030;
    color: #FFFFFF;
  }
}

#categories {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 1em 0 4em 0;

  h3 {
    margin: 0 0 3rem 0;
  }

  h4 {
    color: #808080;
    font-weight: 400;
  }
}

#categories-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  @media only screen and (max-width: 700px) {
    //justify-content: center;
  }
}

.category {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10em;
  margin: 1em;
  position: relative;
  text-align: center;
  box-shadow: 0px 0px 6px -1px #c0c0c0;
  cursor: pointer;
  overflow: hidden;
  flex: 1 0 30%;
}

.category-img {
  max-height: 100%;
  object-fit: contain;
}

.category-name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1em;
  background-color: #f0f0f0;
  color: #303030;
  font-weight: 400;
  font-size: .8em;
}

</style>
