<template>
  <div id="product-view" v-if="productId">
    <div id="product-detail" v-if="loading">Loading...</div>

    <div id="product-detail" v-else>
      <ImagesCarousel :product="product" id="product-img"/>

      <div id="product-description">

        <h1 class="product-description-item" id="product-name"> {{ product.title }} </h1>

        <div class="product-description-item" id="favorites-button" @click="addToFavorites(product)" v-if="!isFavorite">
          <font-awesome-icon class="icon" :icon="['fas', 'heart']"/>
          <span>Agregar a favoritos</span>
        </div>
        <div class="product-description-item" id="favorites-button" @click="removeFromFavorites(product)" v-else>
          <font-awesome-icon class="icon" :icon="['fas', 'times']"/>
          <span>Quitar de favoritos</span>
        </div>

        <span class="product-description-item" id="product-description-short-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          In ut ullamcorper leo, eget euismod orci. Cum sociis natoque penatibus et
          magnis dis parturient montes nascetur ridiculus mus. Vestibulum ultricies aliquam convallis.
        </span>

        <div id="product-price-info" class="product-description-item">
          <div>
            <span class="product-price space">${{ product.retail_price }}</span>
            <span>en 6 cuotas sin interes</span>
          </div>
          <div>
            <span class="space">Hasta en 18 cuotas fijas</span>
            <a href="" target="_blank">Ver mas.</a>
          </div>
        </div>

        <QuantityCounter id="quantity-counter" class="product-description-item" :quantity="this.quantity" @quantityChanged="setQuantity"/>

        <div id="arrival-time" class="product-description-item">
          <span class="space">Llega en:</span>
          <a href="" target="_blank">Ingresa tu CP</a>
        </div>

        <div class="product-description-item" id="buy-buttons">

            <button id="add-to-cart-button" @click="addToCartAndPushRoute({ product, quantity })">Agregar al carrito</button>

            <button id="buy-now-button">Comprar ahora</button>

        </div>

      </div>

      <div id="specs" v-if="tabs && tabs.length !== 0">
        <div id="tabs">

          <div class="tab-selector" v-for="tab in tabs" :key="tab.title"
            :class="{ 'selected-tab': isSelected(tab) }" @click="selectTab(tab)">
            <h5>{{ tab.title }}</h5>
          </div>

        </div>

        <div class="tab-content" v-html="tabs[selectedTab].content"></div>
      </div>

      <div id="related-products" v-if="productsInCategory">
        <h3>PRODUCTOS RELACIONADOS</h3>

        <ul id="related-products-list">
          <li class="related-product" v-for="item in productsInCategory" :key="item.id">
            <div class="product-overlay">

              <div class="overlay-buttons">
                <button class="overlay-button" @click="addToCartAndPushRoute({ product: item, quantity: 1 })">
                  <font-awesome-icon :icon="['fas', 'shopping-cart']"/>
                </button>
                <button class="overlay-button details-button" @click="goToProductDetails(item.id)">Detalles</button>
                <button class="overlay-button" @click="addToFavorites(item)">
                  <font-awesome-icon :icon="['fas', 'heart']"/>
                </button>
              </div>

            </div>

            <img class="related-product-img" :src="storageAp + item.pictures.big[0]"
              :alt="item.title" :title="item.title">

            <h4 class="related-product-name">{{ item.title }}</h4>
            <p class="related-product-price">${{ item.retail_price }}</p>

          </li>
        </ul>
      </div>

    </div>

    <InfoIcons/>

    <Subscribe/>

  </div>
  <div v-else>ID del producto no encontrada! D:</div>
</template>

<script>

import Vue from 'vue'
import { mapActions, mapGetters, mapMutations } from 'vuex'
import ImagesCarousel from './../misc/ImagesCarousel.vue'
import InfoIcons from './../misc/InfoIcons.vue'
import QuantityCounter from './../cart/QuantityCounter'
import Subscribe from './../misc/Subscribe.vue'

export default Vue.extend({
  name: 'ProductView',
  components: {
    ImagesCarousel,
    QuantityCounter,
    InfoIcons,
    Subscribe
  },

  data () {
    return {
      loading: true,
      quantity: 1,
      product: null,
      productId: this.$router.currentRoute.query ? this.$router.currentRoute.query.pid : null,
      productsInCategory: null,
      tabs: null,
      selectedTab: 0
    }
  },

  computed: {
    stateToken () { return this.getToken() },
    defaultToken () { return this.getDefaultToken() },
    storageAp () { return process.env.VUE_APP_STORAGE_AP },
    mainAp () { return process.env.VUE_APP_MAIN_AP },
    isFavorite () { return this.getFavorites().length ? !!this.getFavorites().find(p => p.id === this.product.id) : false }
  },

  watch: {
    defaultToken () {
      this.getPageContent()
    }
  },

  methods: {
    ...mapMutations({
      addToCart: 'cart/ADD_ITEM',
      addToFavorites: 'favorites/ADD_ITEM',
      removeFromFavorites: 'favorites/REMOVE_ITEM'
    }),

    ...mapGetters({
      getToken: 'auth/GET_TOKEN',
      getDefaultToken: 'auth/GET_DEFAULT_TOKEN',
      getCategories: 'products/GET_CATEGORIES',
      getProducts: 'products/GET_PRODUCTS',
      getFavorites: 'favorites/GET_ITEMS'
    }),

    ...mapActions({
      retrieveProducts: 'products/RETRIEVE_PRODUCTS',
      retrieveCategories: 'products/RETRIEVE_CATEGORIES'
    }),

    setQuantity (newQuantity) {
      this.quantity = newQuantity
    },

    getPageContent: async function () {
      if (this.product === null && this.getToken() && this.productId) {
        // check if we have the products and categories on the state or local storage
        if (!this.getProducts()) {
          console.log('Retrieving products catalog')
          await this.retrieveProducts()
        }
        if (!this.getCategories()) {
          console.log('Retrieving catgories')
          await this.retrieveCategories()
        }
        // get the product from local storage, if not found, get from server
        this.product = this.getProducts().find(p => p.id.toString() === this.productId)
          ? this.getProducts().find(p => p.id.toString() === this.productId) : await this.retrieveProductInformationById(this.productId)
        if (this.product) {
          // set the tabs to be displayed
          this.tabs = [
            {
              title: 'DESCRIPTION',
              content: this.product.description
            },
            {
              title: 'ESPECIFICACIONES',
              content: '<div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut ullamcorper leo, eget euismod orci. Cum sociis natoque penatibus et magnis dis parturient montes nascetur ridiculus mus. Vestibulum ultricies aliquam convallis.</div>'
            }
          ]

          // get products in the same category as the one we got
          if (this.product.category) {
            // get the products in the same category
            this.productsInCategory = this.getCategories().find(c => c.name === this.product.category)
              ? this.getProducts().filter(p => p.category === this.product.category) : await this.retrieveProductsInSameCategory(this.getCategories().find(c => c.name === this.product.category))
            // remove the current product from the array
            const currentProductIndex = this.productsInCategory.indexOf(this.product)
            this.productsInCategory.splice(currentProductIndex, 1)
            // only 3 items will be shown in the related products page
            if (this.productsInCategory && this.productsInCategory.length > 3) {
              this.productsInCategory = this.productsInCategory.slice(0, 4)
            }
          } else {
            // todo: if the current product does not have a category ~do something (like getting products from a default category?)~
          }
        }
        // signal that the page is no longer loading
        this.loading = false
      } else {
        this.error = true
      }
    },

    async retrieveProductInformationById (productId) {
      try {
        const response = await fetch('https://app.flextd.com/api/posts/detail/' + productId, {
          method: 'GET',
          headers: {
            Authorization: 'Bearer ' + this.getToken()
          }
        })

        if (!response.ok) {
          throw new Error('Could not get the product information - ' + response.statusText)
        }

        const data = await response.json()

        // parse the pictures array
        data.data.pictures = JSON.parse(data.data.pictures)
        // return the resolved promise
        return Promise.resolve(data.data)
      } catch (error) {
        console.error(error)
        this.error = true
        return Promise.reject(error)
      }
    },

    async retrieveProductsInSameCategory (categoryId) {
      try {
        const response = await fetch('https://app.flextd.com/api/posts/4/category/' + categoryId, {
          method: 'GET',
          headers: {
            Authorization: 'Bearer ' + this.getToken()
          }
        })

        if (!response.ok) {
          throw new Error('Could not get the products in this category - ' + response.statusText)
        }

        const data = await response.json()
        // parse the pictures array for every product
        data.data.forEach(element => {
          element.pictures = JSON.parse(element.pictures)
        })
        // todo: remove the current item from the returned list of products
        // return the resolved promise
        return Promise.resolve(data.data)
      } catch (error) {
        console.error(error)
        this.error = true
        return Promise.reject(error)
      }
    },

    goToProductDetails (productId) {
      this.$router.push({ path: 'product-view', query: { pid: productId } })
      location.reload()
    },

    addToCartAndPushRoute (productToAdd) {
      this.addToCart(productToAdd)
      this.$router.push({ path: '/cart' })
    },

    isSelected (tab) { return this.tabs.indexOf(tab) === this.selectedTab },
    selectTab (tab) { this.selectedTab = this.tabs.indexOf(tab) }
  },

  created: async function () {
    if (this.getToken()) {
      this.getPageContent()
    }
  }
})

</script>

<style scoped lang="scss">

@import '@/assets/vars.scss';

#product-view {
  max-width: $maxComponentWidth;
  overflow-x: hidden;
  display: flex;
  flex-wrap: wrap;
  margin: 3em auto 0 auto;
}

#product-detail {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

#product-img {
  width: $imageHeight;
  flex: 1 1;
}

.product-description-item {
  margin: 0 0 1em 0;
}

#product-description {
  display: flex;
  flex-direction: column;
  flex: 1 1 26em;
  max-width: 50em;
  padding: 0 0 0 3em;

  @media only screen and (max-width: 700px) {
    padding: 3em 0 0 0;
  }
}

#product-name {
  margin: 0 0 .5rem 0;
  color: #303030;
  font-size: 2.5em;
}

.product-price {
  color: #909090;
  font-weight: 300;
  font-size: 2em;
}

#product-description-short-text {
  margin: 0 0 1.5rem 0;
}

#product-price-info {
  display: flex;
  flex-direction: column;
  margin: 0 0 2rem 0;

  a {
    color: #00aeff;
    font-size: 15px;
  }
}

#arrival-time {
  margin: 0 0 2rem 0;
  a {
    color: #00aeff;
    font-size: 15px;
  }
}

#quantity-counter {
  width: fit-content;
}

#buy-buttons {
  display: flex;

 * {
   margin: 0 1rem 0 0;
 }
}

#add-to-cart {
  display: flex;
  align-items: center;
  background-color: #f3f3f3;
}

#favorites-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 0 0 2rem 0;

  &:hover {
    span {
      text-decoration: underline #303030;
    }
  }
}

.product-details {
  margin: 2em 0 0 0;
  max-width: 50%;
}

.product-detail {
  display: flex;
  margin: 0 0 .5em 0;
  padding: .5em;
  box-shadow: 0px 0px 3px -1px #c0c0c0;
}

.detail-text {
  color: #909090;
  margin: 0 0 0 .5rem;
}

#specs {
  padding: 0;
  margin: 4em 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fafafa;
}

#tabs {
  display: flex;
  margin: 0 0 1em 0;
  background-color: white;
}

.tab-selector {
  padding: 1em 1.5em;
  margin: 0;
  cursor: pointer;

  h5 {
    margin: 0;
  }

  &:hover {
    background-color: #303030;
    color: white;
  }
}

.tab-content {
  padding: 1em 2em;
}

.selected-tab {
  background-color: #303030;
  color: white;
}

.description-text {
  display: flex;
  flex-direction: column;
  flex: 0 1 100%;
  justify-content: center;
}

#related-products {
  display: flex;
  flex-direction: column;
  padding: 4em 0 1em 0;
}

#related-products-list {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  justify-content: center;
  margin: 2em 0 0 0;
  padding: 0;
}

.related-product {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: fit-content;
  text-align: center;
  margin: 0 1rem 3em 1rem;
  flex: 0 1 20%;

  @media only screen and (max-width: 700px) {
    flex: 0 1 100%;
    margin: 1em auto 2em auto;
  }
}

.related-product-img {
  width: $relatedProductImgWidth;
  height: $relatedProductImgHeight;
  object-fit: contain;
}

.product-overlay {
  position: absolute;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: $relatedProductImgHeight;
  width: 100%;
  opacity: 0%;
  background-color: #ffffffd0;

  &:hover {
    opacity: 100%
  }
}
.overlay-buttons {
  display: flex;
  justify-content: center;
}

.overlay-button {
  padding: .5em;
  margin: 0 .2em 0 .2em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00000000;
  color: #303030;
  border: 1px solid #303030;

  &:hover {
    background-color: #303030;
    color: #FFFFFF;
  }
}

.details-button {
  background-color: #303030;
  color: #f5f5f5;
  padding: .5em 1em .5em 1em;
}
.related-product-overlay {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: $relatedProductImgWidth;
  height: $relatedProductImgHeight;
  position: absolute;
  opacity: 0%;
  background-color: #ffffff90;
}

.overlay-button {
  padding: .8em;
  margin: 5px;
  font-size: 15px;
}

</style>
