<template>

  <Carousel id="img-carousel" :perPage="1" :autoplay="true" :autoplayTimeout="10000">

    <Slide v-for="pic in product.pictures.big" :key="pic">
      <img class="img-main" :src="storageAp + pic"
        :title="product.model" :alt="product.model">
    </Slide>

  </Carousel>

</template>

<script>

import Vue from 'vue'
import { Carousel, Slide } from 'vue-carousel'

export default Vue.extend({
  name: 'ImagesCarousel',
  components: {
    Carousel,
    Slide
  },

  data () {
    return {
      product: this.$attrs.product
    }
  },

  computed: {
    storageAp () { return process.env.VUE_APP_STORAGE_AP }
  }
})

</script>

<style lang="scss" scoped>

@import '@/assets/vars.scss';

#img-carousel {
  display: flex;
  flex-direction: column;
}

.img-main {
  width: $imageWidth;
  height: $imageHeight;
  object-fit: contain;
}

</style>
