<template>
  <div id="nav-menu">

    <div id="nav-menu-wrapper">
      <div id="nav-menu-links" class="desktop">
        <ul>

          <li class="item">
            <router-link to="/" title="Ir al inicio">Inicio</router-link>
          </li>

          <li class="item" id="categories" @click="toggleCategoriesList()" title="Menu de categorias">
            <div id="categories-parent">
              Categorias
              <font-awesome-icon class="icon" :icon="['fas', 'sort-down']"/>
            </div>

            <div id="categories-list" v-if="displayCategories"
            @mouseleave="categoriesMouseOutHandle()" @mouseenter="categoriesMouseInHandle()">
              <div class="category-item" v-for="category in getCategories()" :key="category.id" @click="goToCategory(category.id)">
                {{ category.name }}
              </div>
            </div>
          </li>

          <li class="item">
            <router-link to="/shop" title="Ir a la tienda">Productos</router-link>
          </li>

        </ul>
      </div>

      <div id="burger-button" class="mobile nav-button" @click="toggleNavMenu()">
        <font-awesome-icon class="icon" :icon="['fas', 'bars']" v-if="!displayNavMenu"/>
        <font-awesome-icon class="icon" :icon="['fas', 'times']" v-else/>
      </div>

      <ul id="mobile-link-list" class="mobile" v-if="displayNavMenu">
        <li class="item" @click="toggleNavMenu()">
          <router-link to="/" title="Ir al inicio">
            <font-awesome-icon class="icon" :icon="['fas', 'home']"/>
            Inicio
          </router-link>
        </li>

        <li class="item" @click="toggleNavMenu()">
          <router-link to="/shop" title="Ir a la tienda">
            <font-awesome-icon class="icon" :icon="['fas', 'store']"/>
            Productos
          </router-link>
        </li>

        <li class="item" @click="toggleNavMenu()">
          <router-link to="/cart" title="Ir al carrito">
            <font-awesome-icon class="icon" :icon="['fas', 'shopping-cart']"/>
            Carrito de compras (<span v-if="getCart() && getCart().length !== 0">{{ getCart().length }}</span>)
          </router-link>
        </li>

        <li class="item" @click="toggleNavMenu()">
          <router-link id="log-in-button" to="/login" v-if="!user" title="Inicia sesion o registrate en nuestra plataforma">
            <font-awesome-icon class="icon" :icon="['fas', 'user']"/>
            Iniciar sesion
          </router-link>
        </li>
      </ul>

      <router-link id="store-logo" to="/" title="Stadio">STADIO</router-link>

      <div id="wrapper" class="mobile">
        <div id="favorites" class="nav-button" title="Mostrar/Esconder lista de favoritos">
          <div id="fav-button" class="nav-button" @click="toggleFavoritesList()">
            <font-awesome-icon class="icon" :icon="['fas', 'heart']" :class="{ 'list-active': displayFavorites }"/>
            <div id="items-in-favorites" v-if="getFavoriteslength !== 0">{{ getFavoriteslength }}</div>
          </div>

          <ul id="favorites-list" v-if="displayFavorites" title="Lista de favoritos"
          @mouseleave="favoritesMouseOutHandle()" @mouseenter="favoritesMouseInHandle()">
            <li class="fav-item" v-for="product in getFavorites()" :key="product.id">
              <div class="fav-item-text" @click="goToProductDetails(product.id)" title="Ir a detalle de producto">{{ product.title }}</div>
              <button class="remove-fav-item" @click="removeFavorite(product)" title="Quitar de favoritos">
                <font-awesome-icon class="icons" :icon="['fas', 'times']"/>
              </button>
            </li>
          </ul>
        </div>

        <div id="account" v-if="user">
          <i class="material-icons account-item">account_circle</i>
          <div id="username" class="account-item">
            {{ user.name }}
          </div>
          <button @click="logout" class="account-item">Cerrar sesion</button>
        </div>

        <router-link id="log-in-button" to="/login" v-else title="Inicia sesion o registrate en nuestra plataforma">
          <font-awesome-icon id="log-in-icon" class="icon" :icon="['fas', 'user']"/>
        </router-link>

        <div id="search-buttons-parent">
          <div id="search-button" class="nav-button" @click="toggleSearchBar()" v-if="!displaySearchBar" title="Busca productos por su nombre">
            <font-awesome-icon class="icon" :icon="['fas', 'search']"/>
          </div>

          <div id="close-button" class="nav-button" @click="toggleSearchBar()" v-else>
            <font-awesome-icon class="icon" :icon="['fas', 'times']"/>
          </div>
        </div>

        <div id="search-component-parent" v-if="displaySearchBar">
          <div id="search-bar">
            <input type="text" v-model="searchValue" placeholder="Nombre de producto" @keyup="search()">
          </div>

          <ul id="search-results" class="results" v-if="searchResults.length !== 0">
            <li class="result" v-for="item in searchResults" :key="item.id" @click="goToProductDetails(item.id)">
              {{ item.title }}
            </li>
          </ul>
          <div id="search-results" class="results" v-else-if="searchValue && searchValue.length >= 3">
            No encontramos ningun producto :(
          </div>
        </div>
      </div>

      <div id="wrapper" class="desktop">
        <router-link to="/cart" id="cart-button" class="nav-button" title="Ir al carrito">
          <font-awesome-icon class="icon" :icon="['fas', 'shopping-cart']"/>
          <div id="items-in-cart" v-if="getCart() && getCart().length !== 0">{{ getCart().length }}</div>
        </router-link>

        <div id="favorites" class="nav-button" title="Mostrar/Esconder lista de favoritos">
          <div id="fav-button" class="nav-button" @click="toggleFavoritesList()">
            <font-awesome-icon class="icon" :icon="['fas', 'heart']" :class="{ 'list-active': displayFavorites }"/>
            <div id="items-in-favorites" v-if="getFavoriteslength !== 0">{{ getFavoriteslength }}</div>
          </div>

          <ul id="favorites-list" v-if="displayFavorites" title="Lista de favoritos"
          @mouseleave="favoritesMouseOutHandle()" @mouseenter="favoritesMouseInHandle()">
            <li class="fav-item" v-for="product in getFavorites()" :key="product.id">
              <div class="fav-item-text" @click="goToProductDetails(product.id)" title="Ir a detalle de producto">{{ product.title }}</div>
              <button class="remove-fav-item" @click="removeFavorite(product)" title="Quitar de favoritos">
                <font-awesome-icon class="icons" :icon="['fas', 'times']"/>
              </button>
            </li>
          </ul>
        </div>

        <router-link id="log-in-button" to="/login" v-if="!user" title="Inicia sesion o registrate en nuestra plataforma">
          <font-awesome-icon id="log-in-icon" class="icon" :icon="['fas', 'user']"/>
        </router-link>

        <div id="account" v-else>
          <i class="material-icons account-item">account_circle</i>
          <div id="username" class="account-item">
            {{ user.name }}
          </div>
          <button @click="logout" class="account-item">Cerrar sesion</button>
        </div>

        <div id="search-buttons-parent">
          <div id="search-button" class="nav-button" @click="toggleSearchBar()" v-if="!displaySearchBar" title="Busca productos por su nombre">
            <font-awesome-icon class="icon" :icon="['fas', 'search']"/>
          </div>

          <div id="close-button" class="nav-button" @click="toggleSearchBar()" v-else>
            <font-awesome-icon class="icon" :icon="['fas', 'times']"/>
          </div>
        </div>

        <div id="search-component-parent" v-if="displaySearchBar">
          <div id="search-bar">
            <input type="text" v-model="searchValue" placeholder="Nombre de producto" @keyup="search()">
          </div>

          <ul id="search-results" class="results" v-if="searchResults.length !== 0">
            <li class="result" v-for="item in searchResults" :key="item.id" @click="goToProductDetails(item.id)">
              {{ item.title }}
            </li>
          </ul>
          <div id="search-results" class="results" v-else-if="searchValue && searchValue.length >= 3">
            No encontramos ningun producto :(
          </div>
        </div>

      </div>

    </div>

  </div>
</template>

<script>

import { mapGetters, mapMutations } from 'vuex'

export default {
  name: 'NavMenu',

  data: function () {
    return {
      displayFavorites: false,
      displayCategories: false,
      displaySearchBar: false,
      displayNavMenu: false,
      favoritesHandle: null,
      categoriesHandle: null,
      searchValue: null,
      searchResults: [],
      searchHandle: null,
      favorites: this.getFavorites()
    }
  },

  computed: {
    user: function () { return this.getUser() },
    getFavoriteslength: function () { return this.getFavorites() ? this.getFavorites().length : 0 }
  },

  methods: {
    ...mapMutations({
      removeUser: 'auth/REMOVE_USER',
      removeFavorite: 'favorites/REMOVE_ITEM'
    }),

    ...mapGetters({
      getCart: 'cart/GET_ITEMS',
      getUser: 'auth/GET_USER',
      getFavorites: 'favorites/GET_ITEMS',
      getCategories: 'products/GET_CATEGORIES',
      getProducts: 'products/GET_PRODUCTS'
    }),

    logout () {
      this.$emit('logout')
      this.removeUser()
    },

    toggleFavoritesList () {
      this.displayFavorites = this.getFavoriteslength !== 0 ? !this.displayFavorites : false
    },
    toggleCategoriesList () {
      this.displayCategories = this.getCategories() ? !this.displayCategories : false
    },
    toggleNavMenu () {
      this.displayNavMenu = !this.displayNavMenu
    },

    goToProductDetails (productId) {
      if (this.$router.currentRoute.path.includes('product-view')) {
        this.$router.replace({ path: 'product-view', query: { pid: productId } })
        location.reload()
      } else {
        this.$router.push({ path: 'product-view', query: { pid: productId } })
      }
    },

    goToCategory (categoryId) {
      // hide the menu
      this.displayNavMenu = false
      if (this.$router.currentRoute.path.includes('shop')) {
        this.$router.replace({ path: 'shop', query: { cid: categoryId } })
        location.reload()
      } else {
        this.$router.push({ path: 'shop', query: { cid: categoryId } })
      }
    },

    categoriesMouseOutHandle () {
      // set timeout to close the menu
      this.categoriesHandle = setTimeout(function (context) { context.displayCategories = false }, 500, this)
    },

    favoritesMouseOutHandle () {
      // set timeout to close the menu
      this.favoritesHandle = setTimeout(function (context) { context.displayFavorites = false }, 500, this)
    },

    categoriesMouseInHandle () {
      // remove the timeout
      if (this.categoriesHandle) {
        clearTimeout(this.categoriesHandle)
      }
    },

    favoritesMouseInHandle () {
      // remove the timeout
      if (this.favoritesHandle) {
        clearTimeout(this.favoritesHandle)
      }
    },

    toggleSearchBar () {
      // toggle the search bar
      this.displaySearchBar = !this.displaySearchBar
    },

    searchTimerCallback () {
      if (this.getProducts()) {
        // when we get products, clear the timeout then search
        clearTimeout(this.searchHandle)
        this.search()
      } else {
        console.log('Waiting for products to be fetched')
        this.searchHandle = setTimeout(this.searchTimerCallback(), 1000)
      }
    },

    search () {
      // get the products or await retrieval
      if (this.getProducts()) {
        if (this.searchValue.length >= 3) {
          // filter the products array by the product name of it is contained in the product's name
          const products = this.getProducts()
          const searchValue = this.searchValue
          this.searchResults = products.filter(function (p) {
            return p.title.toLowerCase().includes(searchValue.toLowerCase())
          })
          console.log(this.searchResults)
        } else {
          this.searchResults = []
        }
      } else {
        console.log('Waiting for products to be fetched')
        this.searchHandle = setTimeout(this.searchTimerCallback(), 1000)
      }
    }
  }
}
</script>

<style lang="scss" scoped>

@import '@/assets/vars.scss';

.router-link-active {
  color: #00aeff;
}

#nav-menu {
  display: flex;
  background-color: #fafafa;
  justify-content: center;
  height: $topBarHeight;
  box-shadow: 0px 0px 3px -1px #c0c0c0;
  position: relative;

  @media only screen and (max-width: 700px) {
    margin: 0 -1em 0 -1em;
  }
}

#nav-menu-wrapper {
  max-width: $maxComponentWidth;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  flex: 1;

  @media only screen and (max-width: 700px) {
    max-width: 100%;
  }
}

.desktop {
  @media only screen and (max-width: 700px) {
    display: none !important;
  }
}

.mobile {
  @media only screen and (min-width: 700px) {
    display: none !important;
  }
}

#mobile-link-list {
  position: absolute;
  top: 0 + $topBarHeight;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex: 1 0 100%;
  background-color: #fafafa;

  .item {
    width: 100%;
  }

  a {
    color: #303030 !important;

    &:hover {
      color: #00aeff !important;
    }
  }

  .categories-list {
    display: flex;
    flex-direction: column;
  }
}

.nav-button {
  margin: 0 .5em 0 .5em;
  cursor: pointer;

  &:hover {
    color: #00aeff;
  }
}

#cart-button {
  display: flex;
  align-items: center;
}
#items-in-cart, #items-in-favorites {
  border-radius: 100px;
  padding: .3em;
  font-size: 12px;
  background-color: #00aeff;
  color: white;
  text-align: center;
}

#fav-button, .remove-fav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  background-color: #00000000;
  color: #303030;
  cursor: pointer;

  &:hover {
    color: #00aeff;
  }
}

#favorites {
  display: flex;
  position: relative;
}

#favorites-list {
  position: absolute;
  top: $topBarHeight;
  width: 20em;
  left: -17em;
  display: flex;
  flex-wrap: wrap;
  max-height: 30vw;
  overflow-y: auto;
  box-shadow: 0px 0px 6px 0 #c0c0c0;
  background-color: white;
}

#categories-parent {
  position: relative;
  font-weight: 400;
  font-size: 15px;
  display: flex;
  cursor: pointer;

  &:hover {
    color: #00aeff;
  }
}
#categories-list {
  position: absolute;
  top: $topBarHeight;
  display: flex;
  flex-direction: column;
  max-height: 30vw;
  overflow-y: auto;
  box-shadow: 0px 0px 6px 0 #c0c0c0;
  background-color: white;
}

.category-item {
  padding: .5em;
  font-weight: 400;
  cursor: pointer;

  &:hover {
    background-color: #00000030;
  }
}

#log-in-icon {
  margin: .5em;
}

#search-component-parent {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
}
#search-buttons-parent {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
#search-button {
  display: flex;
  align-items: center;
  justify-content: center;
}
#close-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
#search-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  input {
    height: 100%;
    border: none;
    border-bottom: 2px solid #303030;
    width: 100%;
    font-size: 2rem;
    padding: 0 0 0 1rem;
  }
}
#search-results {
  position: absolute;
  left: 0;
  width: 100%;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
}
.results {
  top: $topBarHeight + .17em;
  padding: .4rem 0 .4rem 0;
  width: 100%;
  cursor: default;
}
.result {
  padding: .4rem 0 .4rem 1rem;
  &:hover {
    background-color: #c0c0c0;
  }
}

.fav-item {
  padding: 1em;
  display: flex;
  flex: 1 1 20em;
  justify-content: space-between;
  align-content: center;
  cursor: pointer;
}

.fav-item-text {
  display: flex;
  align-items: center;
}

.list-active {
  color: #00aeff;
}

#wrapper {
  display: flex;
}

#account {
  display: flex;
  height: 100%;
  align-items: center;
}

.account-button {
  border: 1px solid #303030;
  color: #303030;
  background-color: #00000000;
  padding: 8px;
  margin: 2px;

  &:hover {
    background-color: black;
    color: white;
  }
}

#log-in-button {
  display: flex;
  align-items: center;
}

#store-logo {
  color: #303030 !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  letter-spacing: 3px;
  font-weight: 600;
  font-size: 24px;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
}

#nav-menu-links {
  display: flex;
  max-width: 30em;
  font-size: 14px;
  align-items: center;
}

.item {
  padding: 5px 10px 5px 10px;
  font-weight: 600;
  font-size: 15px;
  color: #303030;
  display: flex;
  align-items: center;
}

.account-item {
  margin: 0 .3em 0 .3em;
}

</style>
