<template>
  <div id="login">

    <div id="header">

      <h1>{{ form.name.toUpperCase() }}</h1>

      <div id="links">
        <router-link to="/">HOME</router-link> / <span>{{ form.name.toUpperCase() }}</span>
      </div>
    </div>

    <div id="form-wrapper">

      <ValidationObserver class="form" v-slot="flags">
        <h1>{{ form.subtitle.toUpperCase() }}</h1>

        <div id="error-display" v-if="displayErrorMessage">
          <span>{{ errorMessage }}</span>
          <button class="close-this" @click="clearError">x</button>
        </div>

        <ValidationProvider tag="fieldset" :rules="field.rules" v-slot="{ errors }"
          class="field" v-for="field in form.fields" :key="field.name">

          <label :for="field._name">{{ field.name.toUpperCase() }}</label>
          <input :type="field.type" :name="field._name" :id="field._name" :placeholder="field.placeholder" v-model="field.value">
          <span class="errors">{{ errors[0] }}</span>

        </ValidationProvider>

        <div class="buttons-wrapper">
          <button @click="submitForm" v-if="form.submitButton" :disabled="flags.invalid">{{ form.buttonText }}</button>
          <router-link to="/signup">No tienes cuenta? Registrate</router-link>
        </div>

      </ValidationObserver>

      <div class="image">
        <img src="../../assets/img/form.svg" alt="">
      </div>
    </div>

  </div>
</template>

<script>
/* eslint-disable camelcase */

import { mapActions, mapGetters, mapMutations } from 'vuex'
import { ValidationProvider, ValidationObserver, extend } from 'vee-validate'
import { required, email, alpha_num } from 'vee-validate/dist/rules'

extend('email', { ...email, message: 'Este correo electronico no es valido' })
extend('required', { ...required, message: 'Correo electronico requerido' })
extend('alpha_num', { ...alpha_num, message: 'Este campo debe contener solo caracteres alfa-numericos' })

export default {
  name: 'Login',
  components: {
    ValidationProvider,
    ValidationObserver
  },

  data: function () {
    return {
      form: {
        name: 'Iniciar sesion',
        subtitle: 'Inicia sesion en tu cuenta',
        fields: [
          {
            name: 'Correo electronico',
            _name: 'email',
            type: 'email',
            placeholder: 'ejemplo@stadio.com.ar',
            value: '',
            rules: {
              email: true,
              required: true
            }
          },

          {
            name: 'Contrasena',
            _name: 'password',
            type: 'password',
            placeholder: 'Ingresa tu contrasena',
            value: '',
            rules: {
              required: true,
              alpha_num: true
            }
          }
        ],
        submitButton: true,
        buttonText: 'Iniciar'
      },
      errorMessage: ''
    }
  },

  computed: {
    displayErrorMessage: {
      get: function () {
        return this.errorMessage
      },
      set: function (payload) {
        this.errorMessage = payload
      }
    }
  },

  methods: {
    ...mapActions({
      login: 'auth/LOGIN',
      retrieveUserData: 'auth/RETRIEVE_USER_DATA'
    }),

    ...mapMutations({
      setToken: 'auth/SET_TOKEN',
      setUser: 'auth/SET_USER'
    }),

    ...mapGetters({
      getUser: 'auth/GET_USER'
    }),

    async submitForm () {
      console.log('about to be submited')
      // todo: add a "loading" overlay

      // login using the provided credentials
      const formData = {
        email: this.form.fields[0].value,
        password: this.form.fields[1].value
      }

      const loginResult = await this.login(formData)
        // catch errors during fetch
        .catch(error => {
          this.$emit('error', 'Hubo un error al intentar iniciar sesion')
          console.error(error)
        })

      if (loginResult.ok) {
        const loginData = await loginResult.json()
        // commit the new token
        this.setToken(loginData.token)
        // retrieve the user's data from the server
        const userData = await this.retrieveUserData()
          .catch(error => {
            this.$emit('error', 'Hubo un error al intentar obtener los datos de usuario')
            console.error(error)
          })

        if (userData.ok) {
          // commit the new loged in user
          this.setUser(await userData.json())
          // redirect the user to the home view (todo: redirect to the last page the user was at using router)
          this.$router.push({ path: '/' })
        } else {
          this.$emit('error', 'Hubo un error obteniendo la data del usuario - ' + userData.statusText)
        }
      } else {
        // 401 - Unauthorized
        if (loginResult.status === 401) {
          this.displayErrorMessage = 'Correo electronico o contrasena errados, por favor intenta nuevamente'
        } else if (loginResult.status === 404) {
          this.displayErrorMessage = 'No hemos encontrado esta cuenta, verifica e intenta nuevamente'
        }
      }
    },

    clearError () {
      this.displayErrorMessage = ''
    }
  }
}

</script>

<style lang="scss" scoped>

#form-wrapper {
  display: flex;
}

.form {
  flex: 2 1;
  padding: 0 3em 0 0;

  @media only screen and (max-width: 700px) {
    padding: 0;
  }
}

.field {
  margin: 1em 0 1em 0;
}

.image {
  display: flex;
  justify-content: flex-start;
  flex: 2 1;

  @media only screen and (max-width: 700px) {
    display: none;
  }

  img {
    height: 300px;
    width: 100%;
  }
}

.buttons-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

</style>
