<template>
  <div id="signup">

    <div id="header">

      <h1>{{ form.name.toUpperCase() }}</h1>

      <div id="links">
        <router-link to="/">HOME</router-link> / <span>{{ form.name.toUpperCase() }}</span>
      </div>
    </div>

    <div id="form-wrapper">

      <ValidationObserver class="form" v-slot="flags">
        <h1>{{ form.subtitle.toUpperCase() }}</h1>

        <div id="error-display" v-if="displayErrorMessage">
          <span>{{ errorMessage }}</span>
          <button class="close-this" @click="clearError">x</button>
        </div>

        <ValidationProvider tag="fieldset" :rules="field.rules" v-slot="{ errors }"
          class="field" v-for="field in form.fields" :key="field.name" :vid="field.vid">
          <label :for="field._name">{{ field.name }}</label>
          <input :type="field.type" :name="field._name" :id="field._name" :placeholder="field.placeholder" v-model="field.value">
          <span class="errors">{{ errors[0] }}</span>
        </ValidationProvider>

        <div class="buttons-wrapper">
          <button @click="submitForm" v-if="form.submitButton" :disabled="flags.invalid">{{ form.buttonText }}</button>
          <router-link to="/login">Ya tienes cuenta? Inicia sesion</router-link>
        </div>

      </ValidationObserver>

      <div class="image">
        <img src="../../assets/img/form.svg" alt="">
      </div>
    </div>

  </div>
</template>

<script>
/* eslint-disable camelcase */

import { mapActions, mapGetters, mapMutations } from 'vuex'
import { ValidationProvider, ValidationObserver, extend } from 'vee-validate'
import { required, email, alpha_num, alpha_spaces, confirmed } from 'vee-validate/dist/rules'

extend('email', { ...email, message: 'Este correo electronico no es valido' })
extend('required', { ...required, message: 'Este campo es requerido' })
extend('alpha_num', { ...alpha_num, message: 'Este campo debe contener solo caracteres alfa-numericos' })
extend('alpha_spaces', { ...alpha_spaces, message: 'Este campo debe contener solo letras' })
extend('confirmed', { ...confirmed, message: 'Este campo debe coincidir con el anterior' })

export default {
  name: 'Signup',
  components: {
    ValidationProvider,
    ValidationObserver
  },

  data () {
    return {
      form: {
        name: 'Crear cuenta',
        subtitle: 'Crea tu cuenta en Stadio',
        fields: [
          {
            name: 'Correo Electronico',
            _name: 'email',
            type: 'email',
            placeholder: 'ejemplo@stadio.com.ar',
            value: '',
            rules: {
              required: true,
              email: true
            }
          },

          {
            name: 'Contrasena',
            _name: 'password',
            type: 'password',
            placeholder: 'Ingresa tu contrasena',
            value: '',
            vid: 'confirmation',
            rules: {
              required: true,
              alpha_num: true
            }
          },

          {
            name: 'Confirma Contrasena',
            _name: 'confirmation',
            type: 'password',
            placeholder: 'Ingresa tu contrasena nuevamente',
            value: '',
            rules: {
              required: true,
              alpha_num: true,
              confirmed: 'confirmation' // this must be the same as the vid attribute of the field to confirm
            }
          },

          {
            name: 'Nombre Completo',
            _name: 'full_name',
            type: 'text',
            placeholder: 'Ingresa tu nombre completo',
            value: '',
            rules: {
              required: true,
              alpha_spaces: true
            }
          }
        ],
        submitButton: true,
        buttonText: 'Continuar'
      },
      errorMessage: ''
    }
  },

  computed: {
    displayErrorMessage: {
      get: function () {
        return this.errorMessage
      },
      set: function (payload) {
        this.errorMessage = payload
      }
    }
  },

  methods: {
    ...mapMutations({
      setToken: 'auth/SET_TOKEN',
      setUser: 'auth/SET_USER'
    }),

    ...mapActions({
      signup: 'auth/SIGN_UP',
      getUserDetails: 'auth/RETRIEVE_USER_DATA'
    }),

    ...mapGetters({
      getToken: 'auth/GET_TOKEN'
    }),

    async submitForm () {
      // todo: add a "loading" overlay

      // signup with the provided details
      const formData = {
        email: this.form.fields[0].value,
        password: this.form.fields[1].value,
        name: this.form.fields[3].value
      }
      const signupResult = await this.signup(formData)
        .catch(error => {
          this.$emit('error', 'Hubo un error al intentar crear la cuenta')
          console.error(error)
        })
      if (signupResult.ok) {
        const signupData = await signupResult.json()
        // commit the token to store
        this.setToken(signupData.token)
        // get the user details
        const userDetails = await this.getUserDetails()
          .catch(error => {
            this.$emit('error', 'Hubo un error al intentar obtener los datos de usuario')
            console.error(error)
          })

        if (userDetails.ok) {
          const userData = await userDetails.json()
          // commit the user to store
          this.setUser(userData)
          // push the path
          this.$router.push({ path: '/' })
        } else {
          this.$emit('error', 'Hubo un error obteniendo la data del usuario - ' + userDetails.statusText)
        }
      } else {
        // signup failed
        this.displayErrorMessage = 'No hemos podido crear la cuenta'
      }
    },

    clearError () {
      this.displayErrorMessage = ''
    }
  }
}

</script>

<style lang="scss">

#form-wrapper {
  display: flex;
}

.form {
  flex: 2 1;
  padding: 0 3em 0 0;

  @media only screen and (max-width: 700px) {
    padding: 0;
  }
}

.field {
  margin: 1em 0 1em 0;
}

#links {
  display: flex;
  align-items: center;
}

.image {
  display: flex;
  justify-content: flex-start;
  flex: 2 1;

  @media only screen and (max-width: 700px) {
    display: none;
  }

  img {
    height: 300px;
    width: 100%;
  }
}

.buttons-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

</style>
